body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #c00;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px;
}

h2 {
    color: #c00;
}

.video iframe {
    display: block;
    margin: 20px auto;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria img {
    margin: 10px;
    max-width: 30%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
